<div class="bg-white">
        <!--Header Area Start-->
        <!--Full width header Start-->
        <div class="full-width-header">
           <!-- Toolbar Start -->
           <div class="rs-toolbar">
              <div class="container">
                 <div class="row">
                    <div class="col-md-6">
                       <div class="rs-toolbar-left">
                          <div class="welcome-message">
                             <!--<i class="fa fa-bank"></i>-->
                             <h4 class="text-white mb-0 pt-2 pb-2">Welcome to Poste Podar Learn School</h4>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="rs-toolbar-right">
                          <!--<div class="toolbar-share-icon">-->
                          <ul>
                             <li><a href="https://www.facebook.com/pages/Poste-Podar-Learn-School/517868892081105"><i class="icon icon-facebook"></i></a></li>
                             <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li> -->
                          </ul>
                       </div>
                       <!--<a href="#" class="apply-btn">Apply Now</a>-->
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- Toolbar End -->
        <!--Header Start-->
        <header id="rs-header" class="rs-header">
           <!-- Header Top Start -->
           <div class="rs-header-top">
              <div class="container">
                 <div class="row">
                    <div class="col-md-4 col-sm-12">
                       <div class="header-contact float-left pt-4">
                          <div id="info-details" class="widget-text">
                             <i class="icon icon-envelope"></i>
                             <div class="info-text">
                                <a href="mailto:info@domain.com">
                                <span>Mail Us</span>
                                <font style="color:deepskyblue">principal.ppls@podar.org</font>
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                       <div class="logo-area text-center">
                          <a href="#"><img src="./assets/images/logo.png" alt="logo"></a>
                       </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                       <div class="header-contact pt-4 pull-right">
                          <div id="phone-details" class="widget-text">
                             <i class="icon icon-phone-wave"></i>
                             <div class="info-text">
                                <a href="tel:4155551234">
                                <span>Call Us</span>
                                02385-258003/04 or 9763450250
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- Header Top End -->
           <!-- Menu Start -->
           <!-- example 6 - center on mobile -->

<!-- 
1 - Navbar with brand left, centered links and right aligned links.
    The center links collapse into the mobile menu and rightside links
    show underneath
-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link m-2 menu-item nav-active">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link m-2 menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                    </a>
                    <div class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item border-bottom" [routerLink]="['/ourMission']">Our Mission</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/ourvision']">Our Vision</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/studentGoals']">Goals for PPLS Student</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/chairmansDesk']"> Chairman’s Desk</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/principalsDesk']"> Principal’s Desk</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/classes']" class="nav-link m-2 menu-item">Classes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link m-2 menu-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admission
                    </a>
                    <div class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item border-bottom" [routerLink]="['/whyUs']">Why Choose POSTE PODAR</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/academicSession']">Academic Session</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/academicProcedure']">Admission Procedure</a>
                    <a class="dropdown-item border-bottom" [routerLink]="['/betweenUsPortal']"> Between Us Portal</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/teachers']" class="nav-link m-2 menu-item">Teacher</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/gallery']" class="nav-link m-2 menu-item">Gallery</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/career']" class="nav-link m-2 menu-item">Career</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contactUs']" class="nav-link m-2 menu-item">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    
    
    
    
           <!-- Menu End -->
        </header>
        <!--Header End-->
     </div>