  
<!--Footer Top Starts -->
<div class="w3-agile-services home-bottom-footer position-relative p-0">
		<div class="container-fluid">
		  <div class="agileits-services">
			  <div class="services-right-grids row m-0">
				<div class="col-sm-4 services-right-grid">
				  <div class="se-top">
					<div class="services-icon">
					<i class="icon icon-map-location" aria-hidden="true"></i>
					</div>
					<div class="services-icon-info">
					  <h5>Address</h5>
					  <p>Poste Podar Learn School, Poste Campus,
						  Nalegaon Road,Malkapur,
						  Udgir Dist-Latur, (MH) 413517</p>
					</div>
				  </div>
				</div>
				<div class="col-sm-4 services-right-grid">
				  <div class="se-top">
					<div class="services-icon">
					<i class="icon icon-phone-wave" aria-hidden="true"></i>
					</div>
					<div class="services-icon-info">
					  <h5>Phone Number</h5>
					  <p class="mb-0">02385-258003/04</p>
					  <p>+91-9763450250</p>
					</div>
				  </div>
				</div>
				<div class="col-sm-4 services-right-grid">
				  <div class="se-top">
					<div class="services-icon">
					<i class="icon icon-envelope" aria-hidden="true"></i>
					</div>
					<div class="services-icon-info">
					  <h5>Email Address</h5>
					  <a href="mailto:principal.ppls@podar.org" target="_top">principal.ppls@podar.org</a>
					</div>
				  </div>
				</div>
				<div class="clearfix"> </div>
			  </div>
			  
			</div>
		  </div>
		</div>
		<!-- Footer top ends -->
<!-- footer -->
<div class="footer">
		<div class="container">
			<div class="row">
			<div class="col-md-4 w3layouts_footer_grid">
						<h3>About Us</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>
					</div>
					<div class="col-md-4 w3layouts_footer_grid hpft">
						<h3>Site Map</h3>
						<ul class="con_inner_text">
							<li><a href="#">Home</a></li>
							<li><a href="#">Our Vision</a></li>
							<li><a href="#">Chairman’s Desk</a></li>
							<li><a href="#">Academic Session</a></li>
							<li><a href="#">Between Us Portal</a></li>
							<li><a href="#">Gallary</a></li>
						</ul>
					</div>
					<div class="col-md-4 w3layouts_footer_grid">
						<h3>Site Map</h3>
						<ul class="con_inner_text">
							<li><a href="#">Our Mission</a></li>
							<li><a href="#">Goals for PPLS Student</a></li>
							<li><a href="#">Principal’s Desk</a></li>
							<li><a href="#">Admission Procedure</a></li>
							<li><a href="#">Teacher</a></li>
							<li><a href="#">Contact Us</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>		
				</div>	
				</div>
		</div>
		<p class="copyright mb-0">© 2019. Developed by <a href="#" target="_blank">SSS Webtech</a></p>
		<!-- //footer -->