<section class="team-w3pvts" id="team">
    <div class="breadcrum position-relative float-left w-100 mb-5">
       <h3 class="title-txt text-center w-100 float-left text-white">Our Teachers</h3>
    </div>
    <div class="container py-xl-5 py-lg-3">
        <div class="row team-w3pvts-row">   
            <div class="col-lg-3 col-md-6 mb-4 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/1.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mr. Surayakant Vinaykrao Chavale</h3>
                        <span class="post">Principal</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mr. Surayakant Vinaykrao Chavale</h3>
                    <span class="teacher-post">Principal</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/AnitaMam1.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mrs. Kalpana Somnath Choudhary</h3>
                        <span class="post">Coordinator</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mrs. Kalpana Somnath Choudhary</h3>
                    <span class="teacher-post">Coordinator</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/anjummam.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mrs. Saraswati Shivraj Swami</h3>
                        <span class="post">Mother Teacher</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mrs. Saraswati Shivraj Swami</h3>
                    <span class="teacher-post">Mother Teacher</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="../../assets/images/teacher/JashanSIr.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mr. Rameshwar Ashok Biradar</h3>
                        <span class="post">Music Teacher</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mr. Rameshwar Ashok Biradar</h3>
                    <span class="teacher-post">Music Teacher</span>
                </div>
            </div>  
            <div class="col-lg-3 col-md-6 mb-4 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/1.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mr. Surayakant Vinaykrao Chavale</h3>
                        <span class="post">Principal</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mr. Surayakant Vinaykrao Chavale</h3>
                    <span class="teacher-post">Principal</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/AnitaMam1.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mrs. Kalpana Somnath Choudhary</h3>
                        <span class="post">Coordinator</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mrs. Kalpana Somnath Choudhary</h3>
                    <span class="teacher-post">Coordinator</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/anjummam.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mrs. Saraswati Shivraj Swami</h3>
                        <span class="post">Mother Teacher</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mrs. Saraswati Shivraj Swami</h3>
                    <span class="teacher-post">Mother Teacher</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="../../assets/images/teacher/JashanSIr.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mr. Rameshwar Ashok Biradar</h3>
                        <span class="post">Music Teacher</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mr. Rameshwar Ashok Biradar</h3>
                    <span class="teacher-post">Music Teacher</span>
                </div>
            </div>  
            <div class="col-lg-3 col-md-6 mb-4 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/1.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mr. Surayakant Vinaykrao Chavale</h3>
                        <span class="post">Principal</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mr. Surayakant Vinaykrao Chavale</h3>
                    <span class="teacher-post">Principal</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/AnitaMam1.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mrs. Kalpana Somnath Choudhary</h3>
                        <span class="post">Coordinator</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mrs. Kalpana Somnath Choudhary</h3>
                    <span class="teacher-post">Coordinator</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="./assets/images/teacher/anjummam.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mrs. Saraswati Shivraj Swami</h3>
                        <span class="post">Mother Teacher</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mrs. Saraswati Shivraj Swami</h3>
                    <span class="teacher-post">Mother Teacher</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="box20">
                    <img src="../../assets/images/teacher/JashanSIr.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Mr. Rameshwar Ashok Biradar</h3>
                        <span class="post">Music Teacher</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Mr. Rameshwar Ashok Biradar</h3>
                    <span class="teacher-post">Music Teacher</span>
                </div>
            </div>
        </div>
    </div>
</section>