<div class="student-vision">
   <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">Why Us</h3>
   </div>
   <div class="container mb-5">
      <div class="row">
         <div class="col-12 col-md-4 text-center mb-3 logo-wrapper">
            <a [routerLink]="['/home']">
               <img src="./assets/images/logo.png" class="w-75" alt="History Image">
            </a>
         </div>
         <div class="col-12 col-md-8">
            
            <div class="abt-title">
               <h2>THE RIGHT APPROACH</h2>
            </div>
            <div class="about-desc">
               <p>Our vision has led us to adopt a pervasive and learner-centric teaching methodology that focuses on an <b> Explore – Experience – Implement </b>model of learning that is practiced at all levels of the organization.</p>
               
               <h6 class="mt-5 mb-3">Explore</h6>
               <ul class="with-icon">
                   <li>Step one of learning starts with exploration.</li>
                   <li> The neurons in the brain of young children are connecting at a furious pace and need stimulation from the five senses.</li><li> In this stage learning is based on hands on experiences that lead to thinking and logical skills.</li>
                   <li>Exploring ideas, thoughts, shaping and reshaping projects are all integral aspects of this stage.</li><li> For a learning based project it is important that children immerse in the idea and concept to explore it from all angles.</li>
                   <li> Our model helps support this exploration</li>
               </ul>

               <h6 class="mt-5 mb-3">Experience</h6>
               <ul class="with-icon">
                   <li>Stage two of learning is shaped with experience.</li>
                   <li> Having already explored with the senses, in this stage children connect that exploration with past knowledge and create their thoughts and shape their ideas that leads to knowledge and understanding of the world around them.</li>
                   <li>Analyzing, optimizing, restructuring are some of the high end pre-frontal skills developed at this stage.</li>
                   <li> John Dewey’s model of “Project Based Learning” along with Jean Piaget’s “Cognitive Learning Theory” are incorporated at this stage to help children experience knowledge with understanding.</li>
               </ul>

               <h6 class="mt-5 mb-3">Implement</h6>
               <ul class="with-icon">
                   <li>Stage three of learning, ‘implementation’, is the goal of all education.</li>
                   <li> Knowledge is not complete unless it is applied and used to bring about change both in the individual and the society.</li>
                   <li>At this stage students are encouraged to implement their ideas and bring about a change in their practice and their thinking.</li>
                   <li> Implementation also helps the students understand ‘what works’ and ‘what does not work’ so that they can work on restructuring and redesigning the idea to suit the needs of the project.</li>
                   <li>At the implementation stage students are encouraged to be independent and experience opportunities of success that help define their self-worth and self-esteem.</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>