 <div class="student-vision">
   <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">GOALS FOR PPLS STUDENT</h3>
   </div>
   <div class="container mb-5">
      <div class="row">
         <div class="col-12 col-md-4 text-center mb-3 logo-wrapper">
            <a [routerLink]="['/home']">
               <img src="./assets/images/logo.png" alt="History Image">
            </a>
         </div>
         <div class="col-12 col-md-8">
            <div class="abt-title">
               <h2>GOALS FOR EACH PPLS STUDENT</h2>
            </div>
            <div class="about-desc">
               <p>Based on our experience and approach, we have designed a set of goals that we ensure our students achieve by the time they are ready for the next level of learning.</p>
               <h6>Independent Thinkers</h6>
               <p>At PPLS , the students from a very young age are trained and encouraged to be independent thinkers and to take on an approach of innovation and ingenuity. Therefore, when faced with a problem or situation, our students do not simply look for ready answers but use their imagination and analytical abilities to create pragmatic solutions.</p>
               <h6>Communicators</h6>
               <p>We believe that it is not enough for our children to just have great ideas. It is equally, if not more important that they are able to communicate these ideas effectively. We train our children to be effective communicators, armed with eloquence, assertiveness and clarity in thought to put forth their points with ease and without hesitation, irrespective of the audience or the occasion.</p>
               <h6>Adaptors</h6>
               <p>We believe that every Poste Podar student should be able to adapt to the global scenario that they would be a part of – the scenario that is in a constant state of flux – the scenario where change is the only constant. We train the wards in our charge to be steadfast in an ever changing environment and think out of the box, using their skills and core competence to make sure their success is not a probability but certainty.</p>
               <h6>Modern Citizens</h6>
               <p>We live in an age where technology has pervaded every single space, right from agriculture to aerospace, economics to policy. The PPLS approach to learning imparts our future generations with the necessary technical know-how and the awareness of the fundamentals of each technology so they are unfazed by changes and always up to the challenge.</p>
            </div>
         </div>
      </div>
   </div>
</div>