<div class="page-classes">
   <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">Between us portal</h3>
   </div>
   <div class="container">
      <div class="row mb-5">
       <div class="col-lg-12 col-md-12">
         <div class="about-desc">
            <p>
                <b>Dear Parents,</b><br>			
                Between us portal is a Parent – School communication website as well as mobile app.
            </p>
            <div class="abt-title mt-5">
               <h3 class="table-title-txt mb-3">The Between Us Portal will help to</h3>
            </div>
            <ul class="with-icon">
                <li>Update the parent information / Emergency Information as well as address / Contact details.</li>
                <li>View the academic resources.</li>
                <li>Receive circulars and announcement.</li>
                <li>Communicate with the school / teachers via message option.</li>
                <li>Get attendance information.</li>
            </ul>
            <div class="abt-title mt-5">
               <h3 class="table-title-txt mb-3">How to login as a Parent</h3>
            </div>
            <ul class="with-icon">
                <li>On admission, a username and ‘one time password’ for using the portal send to all the parents on their registered mobile number and / or on their email id.</li>
                <li>Go to the website – <a href="https://www.betweenus.in"> www.betweenus.in</a></li>
                <li>Login using the username and ‘one time’ password given on admission.</li>
                <li>Click on the relevant option on the home screen.</li>
            </ul>
            <div class="abt-title mt-5">
               <h3 class="table-title-txt mb-3">Troubleshooting</h3>
            </div>
            <p>1. If you have forgotten the password please follow the procedure given below.</p>
            <ul class="with-icon pl-5">
                <li>Complete the online form on<a href="https://www.betweenus.in/Forgetpass.aspx"> www.betweenus.in/Forgetpass.aspx</a></li>
                <li>On filling the form , you will receive an email as well as SMS with the new password.</li>
            </ul>
            <p>2. In case of any queries , please write to it. Support@ppls.org with the following information.</p>
            <ul class="with-icon pl-5">
                <li>School name</li>
                <li>Between Us Username</li>
                <li>Concern/ Issue</li>
                <li>Contact name / Mobile no</li>
            </ul>
         </div>
       </div>
       <div class="clearfix"></div>
       <div class="col-lg-12 col-md-12 mt-5">
          <div class="abt-title">
             <h3 class="table-title-txt mb-3">Admission - rules/guidelines</h3>
          </div>
          <div class="about-desc">
           <ul class="with-icon">
               <li> Certain documents like Birth Certificate, Transfer Certificate,Mark Sheet of Previous Class should be submitted to the Fee counter for maintenance of record. These documents should be submitted within 15 days from the date of admission failing which the provisional admission stands cancelled.<b></b></li>
               <li> In class-I the Date of Birth certificate has validity in place of T.C. Certificates from Civic Bodies, Govt. Hospitals, Reputed Private Hospitals will be treated as genuine proof of D.O.B. only for Class I.<b></b></li>
               <li>Till T.C. and all other related documents are not submitted, the admission is only provisional and can stand cancelled.<b></b></li>
               <li>No demand for changing the Date of Birth will be entertained. (Unless, T.C. counter signed by the DIOS with changed records from the previous school is submitted in the T.C. office).<b></b></li>
               <li>As per School norms students will not be allowed to change their Class once the registration has been done, unless they take permission from the Principal.<b></b></li>
           </ul>
          </div>
       </div>
       <div class="clearfix"></div>
       <div class="col-lg-12 col-md-12 mt-5">
          <div class="abt-title">
             <h3 class="table-title-txt mb-3">withdrawal - rules/guidelines</h3>
          </div>
          <div class="about-desc">
           <ul class="with-icon">
               <li> For T.C. the applicant should first clear all dues (fee, library, N.C.C., Scouts &amp; Guides, Sports, Board Exam etc.</li>
               <li>Counter signed T.C will be issued after 6 days from the date of submission of application.</li>
               <li>T.C. without countersignature will be issued after 3 days from the date of submission of the application.</li>
               <li>A duplicate or triplicate copy of T.C. will be issued only after an affidavit and newspaper cutting is submitted informing us that the TC is lost.</li>
               <li>No T.C. will be issued after the issue of the triplicate T.C.</li>
               <li>In case of new admission in the mid-session, a child has to pay fees for 6 months as well as for the transport facility also the rule will be the same.</li>
           </ul>
          </div>
       </div>
       <div class="clearfix"></div>
       <div class="col-lg-12 col-md-12 mt-5">
          <div class="abt-title">
             <h3 class="table-title-txt">Safety rules</h3>
          </div>
          <div class="about-desc">
             <h6 class="mt-2">Rules for Younger Children</h6>
             <ul class="with-icon">
                 <li><span>I KNOW my name , address telephone number , and my parent’s names.</span></li>
                 <li><span>I always CHECK FIRST with my parents or the person in charge. I tell them before I go anywhere or get into a car , even with someone I know.</span></li>
                 <li><span>I always CHECK FIRST with my parents or a trusted adult before I accept anything from anyone, even from someone  I know.</span></li>
                 <li><span>	I always TAKE A FRIEND with me when I go to places or play outside.</span></li>
                 <li><span>	I SAY NO if someone tries to touch me or treat me in a way that makes me feet , scared, uncomfortable, or confused.</span></li>
                 <li><span>	It’s ok to SAY NO and I know that there will always be someone who can help me.</span></li>
                 <li><span>I Know that I can TELL my parents or a trusted adult if I feel scared, uncomfortable , or confused.</span></li>
                 <li><span>	I am STRONG , SMART , and have the right to be safe.</span></li>
             </ul>
             <h6 class="mt-5">Rules for Older Children </h6>
             <ul class="with-icon">
                 <li>DON’T GO OUT ALONE. There is safety in numbers. This rule isn’t just for little kids, it applies to teens ,too.</li>
                 <li>ALWAYS TELL AN ADULT WHERE YOU’RE GOING. Letting someone know where you’ll be at all times is smart. if you’re faced with a risky situation or get into trouble, your family and friends will know where to find you.</li>
                 <li>SAY NO IF YOU FEEL THREATEDND. If someone- anyone –touches you in a way that makes you feel uncomfortable, you have the right to say no. if you are pressurised in doing something that you know is wrong, be strong and stand your ground.</li>
             </ul>
          </div>
       </div>
       <div class="clearfix"></div>
      </div>
   </div>
</div>