



 <div class="page-classes">
   <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">Admission procedure</h3>
   </div>
   <div class="container">
      <div class="row mb-5">
         <div class="col-lg-12 col-md-12 mb-5">
            <div class="abt-title">
               <h2>ADMISSION PROCEDURE</h2>
            </div>
            <div class="about-desc">
               <div class="skepost">
                   <p align="center">
                       Enquiry at the Reception
                       <br>↓<br>
                       Purchase of Registration Form
                       <br>↓<br>
                       Formal information of entrance procedure
                       <br>↓<br>
                       Entrance Test / Assessment and Evaluation
                       <br>↓<br>
                       Parents Interface, Admission Offer	
                       <br>↓<br>
                       Deposition of Documents
                       <br>↓<br>
                       Submission of Fees
                       <br>↓<br>
                       Collection of PPLS-Kit
                       <br>↓<br>
                       Allotment of Section &amp; House
                       <br>↓<br>
                       Welcome to PPLS <br>
                   </p>
               </div>
            </div>
         </div>
       <div class="clearfix"></div>
       <div class="col-lg-12 col-md-12 mt-5">
         <div class="abt-title">
            <h2>Admission - rules/guidelines</h2>
         </div>
          
          <div class="about-desc">
           <ul class="with-icon">
               <li> Certain documents like Birth Certificate, Transfer Certificate,Mark Sheet of Previous Class should be submitted to the Fee counter for maintenance of record. These documents should be submitted within 15 days from the date of admission failing which the provisional admission stands cancelled.<b></b></li>
               <li> In class-I the Date of Birth certificate has validity in place of T.C. Certificates from Civic Bodies, Govt. Hospitals, Reputed Private Hospitals will be treated as genuine proof of D.O.B. only for Class I.<b></b></li>
               <li>Till T.C. and all other related documents are not submitted, the admission is only provisional and can stand cancelled.<b></b></li>
               <li>No demand for changing the Date of Birth will be entertained. (Unless, T.C. counter signed by the DIOS with changed records from the previous school is submitted in the T.C. office).<b></b></li>
               <li>As per School norms students will not be allowed to change their Class once the registration has been done, unless they take permission from the Principal.<b></b></li>
           </ul>
          </div>
       </div>
       <div class="clearfix"></div>
       <div class="col-lg-12 col-md-12 mt-5">
         <div class="abt-title">
            <h2>Withdrawal - rules/guidelines</h2>
         </div>
          <div class="about-desc">
           <ul class="with-icon">
               <li> For T.C. the applicant should first clear all dues (fee, library, N.C.C., Scouts &amp; Guides, Sports, Board Exam etc.</li>
               <li>Counter signed T.C will be issued after 6 days from the date of submission of application.</li>
               <li>T.C. without countersignature will be issued after 3 days from the date of submission of the application.</li>
               <li>A duplicate or triplicate copy of T.C. will be issued only after an affidavit and newspaper cutting is submitted informing us that the TC is lost.</li>
               <li>No T.C. will be issued after the issue of the triplicate T.C.</li>
               <li>In case of new admission in the mid-session, a child has to pay fees for 6 months as well as for the transport facility also the rule will be the same.</li>
           </ul>
          </div>
       </div>
       <div class="clearfix"></div>
      </div>
   </div>
</div>