<section class="team-w3pvts" id="team">
    <div class="container gallery-wrapper">
        <div class="row team-w3pvts-row">
            <div class="col-12">
                <div class="abt-title">
                    <h2>GALLERY</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-4" data-toggle="modal" data-target="#schoolVisit">
                <div class="box20">
                    <img src="./assets/images/gallery/03-767x410.png" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">School Visit to Museum</h3>
                        <span class="post">11 Photos</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">School Visit to Museum</h3>
                    <span class="teacher-post">11 Photos</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-4" data-toggle="modal" data-target="#scienceExhibition">
                <div class="box20">
                    <img src="./assets/images/gallery/08-767x410.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Science Exhibition</h3>
                        <span class="post">8 Photos</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Science Exhibition</h3>
                    <span class="teacher-post">8 Photos</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-4" data-toggle="modal" data-target="#talentCompetition">
                <div class="box20">
                    <img src="../../assets/images/gallery/055-767x410.jpg" alt="" class="img-fluid">
                    <div class="box-content">
                        <h3 class="title">Talent Competition</h3>
                        <span class="post">12 Photos</span>
                    </div>
                </div>
                <div class="teacher-content text-center">
                    <h3 class="teacher-name">Talent Competition</h3>
                    <span class="teacher-post">12 Photos</span>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- School Visit -->
<div class="modal fade gallery-modal" id="schoolVisit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">School Visit to Museum</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <img src="./assets/images/gallery/01-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/02-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/03-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/04-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/055-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/06-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/07-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/08-767x410.jpg" />
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Science Exhibition -->
<div class="modal fade gallery-modal" id="scienceExhibition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Science Exhibition</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <img src="./assets/images/gallery/01-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/02-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/03-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/04-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/055-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/06-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/07-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/08-767x410.jpg" />
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Talent Competition -->
<div class="modal fade gallery-modal" id="talentCompetition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Talent Competition</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <img src="./assets/images/gallery/01-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/02-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/03-767x410.png" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/04-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/055-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/06-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/07-767x410.jpg" />
                </div>
                <div class="col-12">
                    <img src="./assets/images/gallery/08-767x410.jpg" />
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>