<div class="student-vision">
   <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">Chairman's Desk</h3>
   </div>
   <div class="container mb-5">
      <div class="row">
         <div class="col-12 col-md-6 mb-3 logo-wrapper">
            <img src="./assets/images/desk/chairmans-desk.jpg" class="w-75" alt="Chairman's Desk">
         </div>
         <div class="col-12 col-md-6">
            <div class="abt-title">
               <h2>CHAIRMAN'S DESK</h2>
            </div>
            <div class="about-desc">
               <p>I am pleased that you are considering The POSTE PODAR LEARN SCHOOL among your school choices. This is an important and exciting time in your life. Are you ready to be inspired? Are you willing to work hard and to grow? Are you eager and uninhibited to question and find joy as you learn? If so, then the POSTE PODAR LEARN SCHOOL is the place to be.</p>
               <p>The curriculum is ever evolving and has a progressive outlook with an intellectual rigour, where a sound foundation of critical thinking and articulating is laid in an environment that encourages curiosity and discovery and all this as you have fun.</p>
               <p>The extra-curricular activities are varied, enriching and exciting, where you will learn new skills and make life-long friends and associations. You will see yourself increasingly getting involved in visual and performing arts, in debates and sports; as you get enthused you will realise your full potential and learn to appreciate teamwork.</p>
               <p>In senior classes, you'll have opportunities to take on leadership roles, where you'll learn to accept and handle responsibility, manage and advise others and make fair and effective decisions. You'll help conceive and plan events, assist in labs and libraries, represent your peers; in effect you shall, from a child move towards being a young responsible adult, be a vanguard, an exemplar.</p>
               <p>The POSTE PODAR LEARN SCHOOL teacher shall be the epitome of all that is good; who is passionate, caring and non-partisan as they seek out the very best within every child.</p>
               <p>The POSTE PODAR LEARN SCHOOL parent shall be an important part of our community. Their involvement, help and support in enriching lives at homes and on campus will be immeasurable. They will be involved with projects or volunteer their time and effort in any other manner.</p>
               <p>It would be my pleasure to welcome you and your family to the POSTE PODAR LEARN SCHOOL community. If questions arise as you go through this prospectus, please call or e-mail us.</p>
               <p class="text-right mb-0">Best wishes,</p>
               <p class="text-right">POSTE PODAR LERAN SCHOOL UDGIR</p>
            </div>
         </div>
      </div>
   </div>
</div>