<section class="career">
    <div class="breadcrum position-relative float-left w-100 mb-5">
        <h3 class="title-txt text-center w-100 float-left text-white">Contact Us</h3>
    </div>
    <div class="container py-xl-5 py-lg-3 w3-agile-services">
        <div class="row mt-5">
            <div class="col-sm-4 services-right-grid">
              <div class="se-top">
                <div class="services-icon">
                <i class="icon icon-map-location" aria-hidden="true"></i>
                </div>
                <div class="services-icon-info">
                  <h5>Address</h5>
                  <p>Poste Podar Learn School, Poste Campus,
                      Nalegaon Road,Malkapur,
                      Udgir Dist-Latur, (MH) 413517</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 services-right-grid">
              <div class="se-top">
                <div class="services-icon">
                <i class="icon icon-phone-wave" aria-hidden="true"></i>
                </div>
                <div class="services-icon-info">
                  <h5>Phone Number</h5>
                  <p class="mb-0">02385-258003/04</p>
                  <p>+91-9763450250</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 services-right-grid">
              <div class="se-top">
                <div class="services-icon">
                <i class="icon icon-envelope" aria-hidden="true"></i>
                </div>
                <div class="services-icon-info">
                  <h5>Email Address</h5>
                  <a href="mailto:principal.ppls@podar.org" target="_top">principal.ppls@podar.org</a>
                </div>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
    </div>
    
  

