<div class="student-vision">
   <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">Principal's Desk</h3>
   </div>
   <div class="container mb-5">
      <div class="row">
         <div class="col-12 col-md-6 text-center mb-3 logo-wrapper">
            <img src="./assets/images/desk/principals-desk.jpg" class="mb-3 w-75" alt="Chairman's Desk">
         </div>
         <div class="col-12 col-md-6">
            <div class="abt-title">
               <h2>PRINCIPAL'S DESK</h2>
            </div>
            <div class="about-desc">
               <p>Greetings! I would like to take this opportunity to welcome all to POSTE PODAR LEARN SCHOOL. As principal, I am very excited about this year as our students continue to progress and our programs refine each year. I am confident that this year will be more eventful.</p>
               <p>Ours is an open, welcoming and supportive learning community. Numerous challenges allure us with limitless opening as we enter new school year. Chance of better options emerges from the invigorating memories of what has been a remarkable beginning. Now is the time to look ahead and nurture ideas for future. During the course of current session our school intends to become recognized as the premier school engaged in the art of promoting excellence in education for gifted children of rural community to advance their learning and enhance their personal development. We look forward to partner and share a vision of eventful journey based on happiness, compassion and opportunity for all.</p>
               <p>We are hopeful that our efforts will impact our students and hasten their evolution to reliable global citizens of tomorrow. We guide our students to face the world with empathetic attitude and derive an outlook that appreciates and accepts diversity of opinions with equanimity.</p>

               <p class="text-right mb-0"><span>Best wishes,</span></p>
               <p class="text-right mb-0"><span>Mr. Suryakant Chavale,</span></p>
               <p class="text-right mb-0"><span>Principal,</span></p>
               <p class="text-right mb-0"><span>POSTE PODAR LEARN SCHOOL UDGIR </span></p>
            </div>
         </div>
      </div>
   </div>
</div>