<div class="our-mission pt-5 pb-5">
   <!-- <div class="breadcrum position-relative float-left w-100 mb-5">
      <h3 class="title-txt text-center w-100 float-left text-white">Our Mission</h3>
   </div> -->
   <div class="container our-mission">
      <div class="row">
         <div class="col-12 col-md-4 text-center mb-3 logo-wrapper">
            <a [routerLink]="['/home']">
               <img src="./assets/images/logo.png" class="w-75" alt="History Image">
            </a>
         </div>
         <div class="col-lg-8 col-md-12">
            <div class="abt-title">
               <h2>OUR MISSION</h2>
            </div>
            <div class="about-desc">
               <p>To Develope and Equip the children of India for challenges of the 21st Century. </p>
            </div>
         </div>
         <!-- <div class="col-12 col-md-8 text-center">
            <div class="about-desc">
               <p>"To Develope and Equip the children of India."</p>
            </div>
         </div> -->
      </div>
   </div>
</div>