<div class="page-classes">
    <div class="breadcrum position-relative float-left w-100 mb-5">
       <h3 class="title-txt text-center w-100 float-left text-white">Highlights of Classes</h3>
    </div>
    <div class="container mb-5">
       <div class="row">
          <div class="col-12">
            <div class="abt-title">
                <h2>HIGHLIGHTS OF SCHOOL PROGRAMME</h2>
            </div>
            <div class="about-desc">
                <ul class="with-icon">
                    <li>Children are encouraged to develop good study habits.</li>
                    <li>The learning process in the early stages of the Primary School makes use of recreational resources and activity-driven approaches like project method, models, charts, visuals, multi-media, and so on, to strengthen
                       children's knowledge base and skill sets.
                    </li>
                    <li>Children are initiated into reading story books, newspapers and magazines individually as well as in groups through a structured reading programme.</li>
                    <li>Emphasis is on experiential learning through experimentation, observation, analysis, drawing inferences and discovery to develop scientific temper.</li>
                    <li>The primary mathematical concepts are developed, focusing on numeracy skills and reasoning ability.</li>
                    <li>Special emphasis is given on acquiring language skills through active reading and listening programmes, and development of creative and artistic expression.</li>
                    <li>Children are exposed to new realms of knowledge, new places and learning experiences through educational excursions and field trips.</li>
                    <li>Children are introduced to new learning experiences and challenges through graded exercises, work sheets, group learning and assignments.</li>
                    <li>The Primary School curriculum places special emphasis on teaching children the computer skills.</li>
                    <li>Children are provided opportunities to learn music, dance, drama, painting, etc. to develop multiple intelligences.</li>
                    <li>Children's creative talent is nurtured through participation in a variety of co-curricular activities and events.</li>
                    <li>The importance of service to community is instilled in children by developing in them the value of empathy and the spirit of sharing.</li>
                    <li>Regular sessions are conducted for imparting life skills and values to children.</li>
                 </ul>
             </div>
          </div>
       </div>
       <div class="clearfix"></div>
       <div id="rs-courses-3" class="rs-courses-3 sec-spacer">
            <div class="container">
               <div class="abt-title">
                  <h2>OUR CLASSES</h2>
               </div>
               <div class="row grid">
                  <div class="col-lg-4 col-md-6 grid-item filter2">
                     <div class="course-item">
                        <div class="course-img">
                           <img src="./assets/images/classes/posteabout.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 27,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="#">1st Class</a></h4>
                             <!-- <div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 5/6 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter4">
                     <div class="course-item">
                        <div class="course-img">
                                <img src="./assets/images/classes/posteabout1.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 27,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="#">2nd Class</a></h4>
                              <!--<div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 6/7 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum  provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter1">
                     <div class="course-item">
                        <div class="course-img">
                            <img src="./assets/images/classes/p3.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 27,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="courses-details.html">3rd Class</a></h4>
                              <!--<div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 7/8 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter3">
                     <div class="course-item">
                        <div class="course-img">
                            <img src="./assets/images/classes/p4.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 27,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="courses-details.html">4th Class</a></h4>
                             <!-- <div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 8/9 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum  provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter2">
                     <div class="course-item">
                        <div class="course-img">
                            <img src="./assets/images/classes/s1.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 27,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="#">5th class</a></h4>
                             <!-- <div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 9/10 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum  provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter4">
                     <div class="course-item">
                        <div class="course-img">
                           <img src="./assets/images/classes/s2.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 32,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="#">6th class</a></h4>
                             <!-- <div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 10/11 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter3 filter4">
                     <div class="course-item">
                        <div class="course-img">
                            <img src="./assets/images/classes/p3.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 32,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="courses-details.html">7th Class</a></h4>
                              <!--<div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 11/12 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum  provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 grid-item filter1">
                     <div class="course-item">
                        <div class="course-img">
                            <img src="./assets/images/classes/p4.jpg" alt="">
                           <span class="course-value"><i class="fas fa-rupee-sign"></i> 32,000</span>
                           <div class="course-toolbar">
                              <h4 class="course-category"><a href="#">8th Class</a></h4>
                              <!--<div class="course-date">
                                 <i class="fa fa-calendar"></i> Start Date 28-06-2017
                              </div>-->
                           </div>
                        </div>
                        <div class="course-body">
                           <div class="course-desc">
                              <h3 class="course-title"><a href="courses-details.html">Age :- 12/13 Years</a></h3>
                              <p>
                                 Quality education in the early years of preschool sets a firm foundation in the overall development of a child. At Poste Podar Learn School, the curriculum  provides a right array of activities to help children move towards achieving their early learning goals.
                              </p>
                           </div>
                        </div>
                        <div class="course-footer">
                           <div class="course-seats">
                              <i class="fa fa-users"></i> 70 SEATS
                           </div>
                           <div class="course-button">
                              <a href="#">APPLY NOW</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
 </div>